<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzm.plus.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yzm.plus.entity.Goods">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="left_num" property="leftNum" />
        <result column="version" property="version" />
        <result column="update_date" property="updateDate" />
        <result column="create_date" property="createDate" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="date_unix" property="dateUnix" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, price, left_num, version, update_date, create_date, status, deleted, date_unix
    </sql>

</mapper>
