<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Hello World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}"/>
</head>
<body>

<h1>Yzm</h1>
<h2>变量表达式 与 选择表达式</h2>

<div th:object="${user}">
    选择表达式：
    <p>userid: <span th:text="*{userId}">1</span>.</p>
    <p>username: <span th:text="*{username}">A</span>.</p>
    <p>password: <span th:text="*{password}">a</span>.</p>
</div>

<div>
    变量表达式:
    <p>userid: <span th:text="${user.userId}">2</span>.</p>
    <p>username: <span th:text="${user.username}">B</span>.</p>
    <p>password: <span th:text="${user.password}">b</span>.</p>
</div>

<div th:object="${user}">
    选择表达式、变量表达式可以混合使用：
    <p>userid: <span th:text="*{userId}">3</span>.</p>
    <p>username: <span th:text="${user.username}">C</span>.</p>
    <p>password: <span th:text="*{password}">c</span>.</p>
</div>

<div th:object="${user}">
    当对象选择就位时，所选对象也将可用于美元表达式作为#object表达式变量：
    <p>userid: <span th:text="${#object.userId}">4</span>.</p>
    <p>username: <span th:text="${user.username}">D</span>.</p>
    <p>password: <span th:text="*{password}">d</span>.</p>
</div>

<div>
    如果没有执行对象选择，美元和星号语法是等效的：
    <p>userid: <span th:text="*{user.userId}">5</span>.</p>
    <p>username: <span th:text="*{user.username}">E</span>.</p>
    <p>password: <span th:text="*{user.password}">e</span>.</p>
</div>


</body>
</html>