<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>

    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}"/>
</head>
<body>

<h1>Yzm</h1>

<h2>th:each 迭代</h2>
<table>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>密码</th>
        <th>生日</th>
        <th>描述</th>
    </tr>
    <tr th:each="user,stat:${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${#dates.format(user.birthDay,'yyyy-MM-dd hh:mm:ss')}"></td>
        <td th:text="${user.desc}"></td>
        <!--
        当前迭代索引，从 0 开始。这是index属性。
        当前迭代索引，从 1 开始。这是count属性。
        迭代变量中的元素总数。这是size物业。
        每次迭代的iter 变量。这是current物业。
        当前迭代是偶数还是奇数。这些是even/odd布尔属性。
        当前迭代是否是第一个。这是first布尔属性。
        当前迭代是否是最后一次。这是last布尔属性。
         -->
        <th th:text="${stat.index}">状态变量：index</th>
        <th th:text="${stat.count}">状态变量：count</th>
        <th th:text="${stat.size}">状态变量：size</th>
        <th th:text="${stat.current.userId}">状态变量：current</th>
        <th th:text="${stat.even}">状态变量：even</th>
        <th th:text="${stat.odd}">状态变量：odd</th>
        <th th:text="${stat.first}">状态变量：first</th>
        <th th:text="${stat.last}">状态变量：last</th>
    </tr>
</table>

<h2>map集合的遍历</h2>
<div th:each="student:${studentmap}">
    <span th:text="${studentStat.count}"></span>
    map集合的key：<span th:text="${student.key}"></span>
    map集合的value：<span th:text="${student.value}"></span>
    学生编号：<span th:text="${student.value.userId}"></span>
    学生姓名：<span th:text="${student.value.username}"></span>
    学生密码：<span th:text="${student.value.password}"></span>
</div>

<h2>条件判断</h2>
<!--
不仅仅只接受布尔值，也接受其他类型的值，例如如下值都会判定为 true
    如果 value 是一个布尔值并且是true.
    如果 value 是一个数字并且非零
    如果 value 是一个字符且非零
    如果 value 是 String 并且不是“false”、“off”或“no”
    如果 value 不是布尔值、数字、字符或字符串。
如果值为 null，则 th:if 将评估为 false。
-->
<div th:if="1 gt 0">显示</div>
<div th:if="1 lt 0">不显示</div>
<div th:unless="1 gt 0">显示</div>
<div th:unless="1 lt 0">不显示</div>

<h2>条件选择</h2>
<div th:switch="${username}">
    <p th:case="admin">User is an administrator</p>
    <p th:case="yzm">User is a yezhimin</p>
    <p th:case="*">default</p>
</div>

<h2>th:with</h2>
<div th:with="firstUser=${users[0]}">
    <p>
        The name of the first person is <span th:text="${firstUser.username}">Julius Caesar</span>.
    </p>
</div>

<h2>th:src 属性的使用</h2>
<!--以下方式无法引入 js-->
<script src="/static/js/jquery-3.5.1.min.js"></script>
<!--该方法是常用方法-->
<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script>
    $(function () {
        alert("引入 js 文件");
    });
</script>

</body>
</html>