<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Hello World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}"/>
</head>
<body>

<h1>Yzm</h1>

<h2>表单提交</h2>
<form action="/user/add" method="post" th:object="${userModel.user}">
    <input type="hidden" name="userId" th:value="*{userId}">
    名字:
    <input type="text" name="username" th:value="*{username}">
    密码:
    <input type="text" name="password" th:value="*{password}">
    <br>
    <input type="submit" value="提交">
</form>

</body>
</html>